.main__project {
  margin-top: calc(50px + 50 * (100vw / 1920));
  .preview__title {
    margin-bottom: calc(5px + 35 * (100vw / 1920));
    font-family: "Exo 2", sans-serif;
    font-size: calc(22px + 15 * (100vw / 1920));
    font-weight: 600;
    line-height: calc(35px + 18 * (100vw / 1920));

    @media (min-width:1530px) {
      font-size: 38px;
    }
  }
  .project__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;

    .info__name {
      font-family: "Exo 2", sans-serif;
      font-weight: 600;
      font-size: calc(20px + 12 * (100vw / 1920));
      line-height: calc(25px + 13 * (100vw / 1920));

      @media (min-width:1530px) {
        font-size: 30px;
      }
      color: rgba(10, 164, 174, 1);
    }
  }
  .item {
    gap: 20px;
    @media (max-width: 766px) {
      flex-direction: column-reverse;
      gap: 15px;
    }
    @media (max-width: 770px) {
      gap: 10px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .info__desc {
        @media (max-width: 970px) {
          max-width: none;
        }
        max-width: 580px;
        width: 100%;
        text-indent: 35px;
        font-family: "Exo 2", sans-serif;
        font-weight: 400;
        line-height: 27px;
        font-size: calc(14px + 6 * (100vw / 1920));

        @media (min-width:1530px) {
          font-size: 19px;
        }
        .content__text {
          transition: height 0.7s ease;
        }
      }
    }
    .slider__title {
      margin-bottom: 20px;
      font-family: "Inter", sans-serif;
      font-size: calc(16px + 4 * (100vw / 1920));
      line-height: calc(15px + 9 * (100vw / 1920));
      font-weight: 400;
    }
    .Collapsible {
      display: flex;
      flex-direction: column-reverse;

      margin-top: 12px;
      span {
        margin-top: 20px;
        font-weight: 500;
      }
    }
    .item__collapsible {
      @media (max-width: 768px) {
        display: none;
      }
      &.mob {
        display: none;
        @media (max-width: 768px) {
          display: flex;
        }
      }
    }
  }
  .news__loading-project {
    position: absolute;
    top: 25px;
    left: 50%;
    right: 50%;
    transform: translate(50%, 50%);

    width: 40px;
    height: 40px;
    animation: animate 2s infinite linear;
    border-radius: 50%;
    background-image: url("../../img/loading.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.item__swiper {
  background-color: #fff;
  .swiper-wrapper {
    max-width: 780px;
    //background-color: #fff !important;
    @media (max-width: 1199px) {
      max-width: 780px;
      width: auto;

      .swiper-slide {
        //max-width: none;
        //width: auto;
      }
    }
    @media (max-width: 766px) {
      justify-content: center;
    }
  }
  .swiper-slide {
    max-width: 380px;
    width: 100%;
    //height: 168px;
    background-color: #fff;
    @media (max-width: 766px) {
      //max-width: none;
    }
  }
}

.project__slider {
  .swiper-slide {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.model {
  width: 100%;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  background: #0000007b;
  .model__body {
    transition: opacity 0.4s ease, visibility 0.4s ease,
      transform 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    z-index: 999;
  }
  &.open {
    visibility: visible;
    opacity: 1;
    .model__body {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    padding: 20px 0 20px;
  }
}
