header {
  &.h-2 {
    position: fixed;
    z-index: 999;
  }
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  padding-top: -8px;
  padding: 10.5px 0;

  background-color: #fff;
  @media (max-width: 768px) {
    .header__wrapper {
      position: relative;
      img {
        width: calc(155px + 71 * (100vw / 1920));
        height: calc(42px + 19 * (100vw / 1920));
      }
      .Dropdown-root{
        position: absolute;
      }
      a{
        flex: 1 1 auto;
        justify-content: center;
      }
    }
    .header__nav {
      ul {
        display: none;
      }
    }
    .dropdown {
      //display: none;
    }
  }

  .mob_nav {
    position: absolute;
    top: 75px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    transition: all 0.7s;
    z-index: 10000;
  }
}

@media (max-width: 860px) {
  #root {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  header {
    overflow: hidden;
  }
}
