.main__news {
    margin-top: 88px;
  .news__title {
    font-family: "Exo", sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 53px;

    margin-bottom: 40px;
  }

  .news__list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 97.5px;
    @media (max-width:844px) {
      padding: 0 15.5px;
    }
    .item{
        &__title{
            margin-bottom: 24px;

            .item__name{
                color: rgba(10, 164, 174, 1);
                font-family: "Exo",sans-serif;
                font-size: 32px;
                font-weight: 600;
                line-height: 43px;
            }
            .item__date{
                
            }
        }

        &__main{
          gap: 20px;
          @media (max-width:844px) {
            flex-direction: column;
            align-items: center;
          }
            .item__img{
                max-width: 380px;
                min-width: 280px;
                width: 100%;

                height: 168px;
                background-color: #000;
                @media (max-width:744px) {
                  min-width:none;
                }
            }
            .item__content{
                max-width: 580px;
            }
        }
    }
  }
  .news__btn{
    margin-top: 40px;

    button{
        cursor: pointer;
    }
  }
}
