.dropdown {
  &.is-open {
    .Dropdown-arrow {
      transform: rotate(180deg);
    }
  }
  .Dropdown-control {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #000;
    border: none;
    padding: 4px 30px 4px 9px;

    .Dropdown-arrow {
      width: 14px;
      height: 9px;

      background-image: url("../../img/language_arrow.svg");
      border-style: none;

      right: 7px;
      top: 10px;
      transition: all 0.3s ease 0s;

      cursor: pointer;
    }
  }

  .Dropdown-menu {
    margin-top: 5px;
    font-weight: 600;
    position: fixed;
    top: 42px;
    width: auto;
    @media (max-width: 768px) {
      top:35px;
    }
    .Dropdown-option.is-selected {
      background-color: rgba(171, 171, 171, 1);
      color: rgba(79, 79, 79, 1);
    }
    .Dropdown-option {
      color: rgba(0, 0, 0, 1);
      padding: 8px 20px;
    }
  }
}
