.adminMainPage{
    .adminMain__add{
        width: 100%;
        height: 54px;
        justify-content: center;
        gap: 20px;

        background-color: rgba(10, 164, 174, 1);
    }
}

body{
    padding-bottom: 30px;
}