.main__preview {
    width: 100%;
    position: relative;
    z-index: 0;

    padding-top: calc(23px + 57 * (100vw / 1175));
    padding-bottom: calc(23px + 57 * (100vw / 1175));
    @media (max-width:1220px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

    }
    .preview__title {
      margin-bottom: calc(15px + 15 * (100vw / 1175));
      font-family: "Exo 2";
      font-size: calc(18px + 14 * (100vw / 1920));
      font-weight: 600;
      line-height: 43px;

      color: #000;

      @media (min-width:1530px) {
        font-size: 38px;
      }
    }
    .preview__text {
      max-width: 516px;
      font-family: "Exo 2", sans-serif;
      font-size: calc(13px + 7 * (100vw / 1920));
      font-weight: 500;
      line-height: 27px;

      @media (min-width:1530px) {
        font-size: 18px;
      }
      @media (max-width:1220px) {
        max-width: none;
      }
    }
    .prewiev__img {
      position: absolute;
      left: 443px;
      top: 40px;
      z-index: -3;

      max-width: 836px;
      width: 100%;
      max-height: 100%;
      height:100%;

      @media (max-width:1220px) {
        position: static;
      }
    }
  }