.adminPage {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 0;
  .admin__public {
    width: 100%;
    .public__title {
      margin-bottom: 28px;
      p {
        font-family: "Exo" sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }
      button {
        font-family: "Exo" sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        color: rgba(116, 116, 116, 1);
      }
    }
  }
}

.form__news {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 24px;
  position: relative;
  .loading__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .loading {
    position: absolute;

    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(50%, 50%);

    width: 40px;
    height: 40px;
    animation: animate 2s infinite linear;
    border-radius: 50%;
    background-image: url("../../img/loading.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  input {
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 5.5px 5px 10px 5.5px;

    &:nth-child(1) {
      max-width: 280px;
      width: 100%;
    }
  }

  textarea {
    width: 100%;
    height: 200px;
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 5.5px 5px 10px 5.5px;

    resize: none;

    font-family: "Exo";
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }

  .input__file {
    cursor: pointer;
    max-width: 280px;
    span {
      max-width: 280px;
      gap: 20px;
      padding: 10px 20px;
      border: 1px solid rgba(217, 217, 217, 1);
    }
    input {
      // display: none;
    }
  }

  .react-datepicker-wrapper {
    input {
      text-align: center;
      font-family: "Exo", sans-serif;
      font-size: 16px;
      font-style: italic;
      font-weight: 500;
      line-height: 21px;

      &::placeholder {
        color: rgba(159, 159, 159, 1);
      }
    }
  }
  .news__radio {
    gap: 40px;
    input {
      display: none;
    }
    label.active {
      cursor: pointer;
      transition: all 0.1s;
      color: rgba(10, 164, 174, 1);
      text-decoration: underline rgba(10, 164, 174, 1);
    }
  }

  .form__btn {
    max-width: 247px;
    width: 100%;
    height: 60px;

    background: rgba(10, 164, 174, 1);
    font-family: "Exo" sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;

    color: rgba(255, 255, 255, 1);
  }
}

.edit__photo {
  flex-wrap: nowrap;
}
